<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WencaiGetUnifiedQueryCondtionUrl" value="http://search.10jqka.com.cn/unified-wap/get-base-data?w="/>
    <add key="WencaiGetUnifiedQueryResultUrl" value="http://search.10jqka.com.cn/unified-wap/get-parser-data?w="/>
    <!--<add key="StrategyKeyword" value="当日九点四十分时成交量/前一日成交量大于35% 流通市值小于40亿 当日非一字板 前一日涨停 当日九点四十分时价大于当日九点二十五分时价"/>-->
    <add key="StrategyKeyword" value="3.30日九点四十分时成交量/3.29日成交量大于35% 流通市值小于40亿 3.30日非一字板 3.30日九点四十分时价大于3.30日九点二十五分时价  3.29日涨停 "/>

    <add key="RefreshFrequency" value="1000"/>
  </appSettings>
</configuration>